@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;  
}

/* (min-width: 1280px) and (max-width: 1440px)*/

.container {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.header {
    height: 80px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
    align-items: center;
    padding: 0 100px;
    margin: 0 auto;
}

.logo {
    width: 135px;
    height: 30px;
}

.icon-phone {
    display: none;
}

.search-form {
    position: relative;
    width: 835px;
    color: #768298;
}

.search-form.header__search-form {
    padding-left: 60px;
}

.search-form__icon {
    width: 16px;
    height: 16px;
    position: absolute;
    padding-top: 12px;
    padding-left: 14px;
    z-index: 1;
}

.search-form__input {
    width: 835px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    padding-left: 39px;
}

::-webkit-input-placeholder {
    color: #BBC4D6;
}
:-moz-placeholder {
    color: #BBC4D6;
}
::-moz-placeholder {
    color: #BBC4D6;
}
:-ms-input-placeholder {
    color: #BBC4D6;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.user {
    display: flex;
    align-items: center;
    width: 149px;
}

.user.header__user {
    padding-left: 60px;
}

.user__line {
    width: 1px;
    height: 80px;
    background: #EBEBF1;
    margin-right: 19px;
}

.user__name {
    font-size: 14px;
    color: #768298;
    margin-right: 10px;
}

.user__foto {
    width: 40px;
    height: 40px;
}

.main {
    width: 100%;
    max-width: 1240px;
    align-items: center;
    padding: 70px 100px;
    margin: 0 auto;
}

.title {
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.partners {
    display: flex;
    flex-wrap: wrap;
}

.main__partners {
    padding-top: 30px;
}

.item {
    width: 287px;
    height: 120px;
    background: #FFFFFF;
    outline: 1px solid #EBEBF1;
    border-radius: 5px;
    text-align: center;
    line-height: 120px;
}

.partners__item:not(:last-child) {
    margin-right: 30px;
}

.partners__item:nth-child(4) {
    margin-right: 0;
    margin-bottom: 30px;
}

.partners__item_hover:hover {
    cursor: pointer;
    box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
}

.item__img {
    vertical-align: middle;
}

@media (min-width: 768px) and (max-width: 1279px) {

    .header {
        max-width: 728px;
        padding: 0 20px;
    }

    .search-form {
        width: 344px;
    }

    .search-form.header__search-form {
        padding-left: 50px;
    }

    .search-form__input {
        width: 344px;
    }

    .user.header__user {
        padding-left: 50px;
    }

    .main {
        max-width: 728px;
        padding: 70px 20px;
    }

    .title {
        font-size: 28px;
    }

    .item {
        width: 229px;
    }

    .partners__item:not(:last-child) {
        margin-right: 20px;
    }

    .partners__item:nth-child(3) {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .partners__item:nth-child(6) {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .partners__item:nth-child(4) {
        margin-bottom: 0px;
    }

    .item__img_size1 {
        width: 117px;
    }

    .item__img_size2 {
        width: 183px;
    }

    .item__img_size3 {
        width: 99px;
    }

    .item__img_size4 {
        width: 175px;
    }

    .item__img_size5 {
        width: 187px;
    }

    .item__img_size6 {
        width: 143px;
    }

    .item__img_size7 {
        width: 196px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {

    .header {
        height: 105px;
        flex-wrap: wrap;
        max-width: 335px;
        padding: 0 20px;
        align-items: flex-end;
    }

    .icon-phone {
        display: initial;
        width: 24px;
        height: 24px;
        color: #34AADD;
        line-height: 30px;
    }

    .search-form {
        width: 335px;
    }

    .search-form.header__search-form {
        padding-left: 0;
    }

    .search-form__input {
        width: 335px;
        height: 41px;
        border-radius: 0;
        border-bottom: none;
        border-left: none;
        border-right: none;
    }

    .user {
        display: none;
    }
    
    .main {
        max-width: 335px;
        padding: 110px 20px;
    }

    .title {
        font-size: 28px;
    }

    .item {
        width: 335px;
        height: 140px;
        line-height: 140px;
    }

    .partners__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .item__img_size1 {
        width: 145px;
    }

    .item__img_size2 {
        width: 234px;
    }

    .item__img_size3 {
        width: 100px;
    }

    .item__img_size4 {
        width: 194px;
    }

    .item__img_size5 {
        width: 132px;
    }

    .item__img_size6 {
        width: 141px;
    }

    .item__img_size7 {
        width: 247px;
    }
}



